@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--light-gray);
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 15px;
    width: 315px;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 0 20px 40px hsla(217, 45%, 22%, 0.2);
}

.card-image {
    border-radius: 10px;
    height: 275px;
    overflow: hidden;
    margin-bottom: 10px;
}

.card-image img {
    max-width: 100%;
}

.card-info {
    padding: 15px;
    text-align: center;
}

.card-name {
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--dark-blue);
}

.card-description {
    color: var(--grayish-blue);
}

.footer {
    flex: 0;
    padding: 20px 0;
}